@import '../../styles/carousel';
@import '../../styles/common';

#Home {
    position: relative;
    background: #fff;

    .banner {
        width: 100%;
    }

    .login {
        width: 1000px;
        position: absolute;
        top: 114px;
        left: 50%;
        margin-left: -500px;
        z-index: 100;

        .content {
            width: 254px;
            height: 290px;
            background: rgba(0, 0, 0, 0.7);
            vertical-align: middle;
            padding: 18px 20px 28px;
            box-sizing: border-box;
            border-radius: 6px;
            float: right;
            margin-top: 40px;
            margin-right: -50px;
            color: #fff;

            .title {
                font-size: 20px;
                text-align: center;
                font-weight: 400;
                line-height: 40px;
            }

            .label {
                font-size: 12px;
                margin-top: 15px;
                margin-bottom: 3px;
            }

            .input {
                width: 100%;
                line-height: 36px;
                height: 36px;
                font-size: 12px;
                color: #545454;
                background-color: #fff;
                border-radius: 4px;
                padding: 0 5px;
                box-sizing: border-box;
                border: none;
            }

            .forget {
                font-size: 12px;
                margin: 10px 0;
                color: #0e97e8;
                cursor: pointer;
                display: inline-block;

                &:hover {
                    color: #fff;
                }
            }

            .buttons {
                .btn {
                    background-color: #d42b2e;
                    color: #fff;
                    height: 36px;
                    width: 100%;
                    font-size: 18px;
                    text-align: center;
                    line-height: 36px;
                    border: 0;
                    cursor: pointer;
                }
            }
        }
    }

    .propaganda {
        width: 1000px;
        margin: 20px auto;
        padding-bottom: 20px;
        border-bottom: #e5e5e5 solid 1px;
        display: flex;

        .item {
            position: relative;
            flex: 1;

            .title {
                font-size: 20px;
                padding-bottom: 4px;
                color: #333;
            }

            .text {
                font-size: 15px;
                color: #888;
            }
        }

        .logo {
            position: absolute;
            right: 15px;
            top: 0;
            background-image: url(http://odl96infd.bkt.clouddn.com/home-sprite.png);
        }

        .logo-1 {
            width: 73px;
            height: 78px;
            background-position: -196px -0px;
        }

        .logo-2 {
            width: 72px;
            height: 68px;
            background-position: -140px -98px;
        }

        .logo-3 {
            width: 73px;
            height: 71px;
            background-position: -65px -98px;
        }

        .logo-4 {
            width: 63px;
            height: 73px;
            background-position: -0px -98px;
        }
    }

    .news-panel{
        width: 1000px;
        margin: 0 auto;
        display: flex;
        padding-bottom: 20px;
        border-bottom: #e5e5e5;

        .news{
            flex: 1;
        }
    }

    .company{
        width: 1000px;
        margin: 0 auto;
        padding: 20px 0;

        .title{
            color: #333;
            font-size: 20px;
            line-height: 40px;
        }

        .line{
            width: 80%;
            margin: 20px auto;
            
            .item{
                display: inline-block;
                width: 25%;
                text-align: center;

                img{
                    display: inline-block;
                    max-width: 80%;
                }
            }
        }
    }
}
