.Tip{
    background: #ece7e7;

    .content{
        color: #159edc;
        width: 1000px;
        margin: 0 auto;
        line-height: 34px;
        font-size: 15px;
        display: block;
    }
}