.footer{
    background: #4C4B48;

    .content{
        width: 1000px;
        padding: 40px 0;
        margin: 0 auto;
        color: #bebebd;

        p{
            line-height: 40px;

            .right{
                float: right;
            }
        }
    }
}
