#MyHome {
    .top {
        display: flex;
        width: 100%;
        margin-top: 30px;

        .flex-1 {
            flex-basis: 33.3%;
            text-align: center;
        }

        .balance {
            line-height: 2;
            text-align: center;
            box-sizing: border-box;
            font-size: 16px;

            .red{
                margin-top: 24px;
            }
        }

        .fund {
            line-height: 2;
            text-align: center;
            box-sizing: border-box;
            font-size: 16px;

            .tip{
                font-size: 12px;
            }
        }

        .coupon {
            font-size: 16px;
            box-sizing: border-box;
            padding-top: 50px;
        }

        .red {
            color: #d22e34;
            font-size: 24px;
        }

        .btn {
            width: 80%;
            line-height: 40px;
            color: #fff;
            border-radius: 5px;
            border: 0;
            margin-top: 7px;
            font-size: 16px;
        }

        .btn-charge {
            background: #2ebfe0;
        }

        .btn-withdraw {
            background: #d22e34;
        }
    }

    .title {
        margin-top: 50px;
        line-height: 25px;
        border-bottom: #bbbbbb solid 1px;
        font-size: 16px;
        padding-bottom: 8px;
    }

    .deposit{
        margin-top: 50px;

        .label{
            font-size: 16px;
        }

        .input{
            margin-left: 15px;
            border: #e5e5e5 solid 1px;
            width: 150px;
            padding: 3px;
        }

        .btn-confirm{
            margin-left: 15px;
            padding: 5px 12px;
            border: 0;
            border-radius: 3px;
            background: #d22e34;
            color: #fff;
            cursor: pointer;
        }

    }

    .table {
        margin-top: 10px;
        width: 100%;
        text-align: center;
        line-height: 25px;

        .tl {
            font-weight: 600;
        }
    }

    .table-nav {
        margin-top: 20px;
        text-align: right;

        span {
            margin: 0 5px;
        }

        .btn {
            margin: 0 10px;
        }
    }
}
