.news{
    color: #333;

    .block-title{
        font-size: 20px;
        line-height: 40px;
    }

    .list{
        margin-top: 10px;

        .item{
            padding: 2px 0;

            a{
                color: #5f79af;
            }
            
            .title{
                font-size: 17px;
                padding: 5px 20px;
            }
        }
    }
}