.page-notice{
    padding: {
        top: 30px;
        bottom: 200px;
    }

    .title{
        font-size: 26px;
        text-align: center;
        line-height: 70px;
    }

    .content{
        margin-top: 15px;
        font-size: 18px;
        line-height: 1.5;
    }
}